@font-face {
    font-family: 'Bruno Ace';
    src: url('../font/brunoAce/BrunoAce-Regular.woff') format('woff2'),
        url('../font/brunoAce/BrunoAce-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Michroma';
    src: url('../font/brunoAce/Michroma-Regular.woff') format('woff2'),
        url('../font/brunoAce/Michroma-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MODERNIZ';
    src: url('../font/Moderniz/MODERNIZ.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alata';
    src: url('../font/Alata/Alata-Regular.woff') format('woff2'),
        url('../font/Alata/Alata-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



